<html layout:decorate="~{layout}">
<div layout:fragment="content" >
	<!-- 대문 시작 -->
	<div id="order_image" class="text-center" style="height: 400px; --bs-rows: 3; --bs-columns: 3;">
		<div id="order_text">
			주문완료
		</div>
	</div>
	<!-- 대문 끝 -->
	<div class="container my-6">
		<div id="signup_success_box" class="row text-center">
		    <!-- <div class="col">
		     이미지...
		    </div> -->
		    <div id="signup_success_box_section2" class="col">
		      <h1>주문해주셔서 감사합니다.</h1>
		      <h3>국민은행 000 로 입금해주세요</h3>

		    </div>
	    </div>
	</div>
</div>
</html>